.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #132f52;
}

.nav a {
  margin-right: 10px;
}

.nav a:last-child {
  margin-right: 0px;
}
